{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Youget - Youtube mp3/mp4 downloader</title>
    <meta charset="utf-8">
    <meta name="description" content="Youget is a free, one stop website when you need to download Youtube videos in mp3 or mp4.">
    <meta name="author" content="Kyo young Lim">
    <meta name="viewport" content="width=device-width, initial-scale=1/0">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'yg_style.css' %}">
  </head>
  <body>
    <div id="app_bkg_container">
      <div id="app_container">
        {% block url%}{% endblock %}
        {% block processed %}{% endblock %}
      </div>
    </div>
  </body>
</html>
