{% extends 'yougetapp/yg_main.html' %}

{% block processed %}
{% load static %}
<div id="process_body">
  <div id="process_container">
    <div id="process_file_container">
      <div id="img_container">
        <img id="thumbnail" src="{{ thumbnail }}" height="180" width="320" alt="thumbnail"/>
      </div>
      <div id="info_container">
        <div id="title_container">
          <span id="title">{{ title|truncatewords:70 }}</span>
        </div>
        <div id="uploader_container">
          <span id="uploader">{{ uploader|truncatewords:15 }}</span>
        </div>
        <div id="quality_form_container">
          {% if no_quality %}
          <div id="no_quality_container">
            <span id="no_quality_msg">{{ no_quality }}</span>
          </div>
          {% else %}
          <form id="quality_form" method="post">
            {% csrf_token %}
            <div id="quality_input_container">
              <label id="{{ quality_form.choice_list.id_for_label }}_label" for="{{ quality_form.choice_list.id_for_label }}">{{ quality_form.choice_list.label }}:</label>
              {{ quality_form.choice_list }}
            </div>
            <div id="prepare_btn_container">
              <input id="prepare_btn" type="submit" value="Prepare"/>
            </div>
            <p id="preparing_msg" style="display: none;">Preparing selected file...</p>
          </form>
          <div id="dl_btn_container"></div>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="spinner_container">
      <img id="spinner" src="{% static 'InfinitySpinner110px.gif' %}" style="display: none;" alt="Loading.."/>
    </div>
    <div id="back_btn_container">
      <a id="back_btn" href="{% url 'yougetapp:ygurl' %}">Download Another</a>
    </div>
    <div id="quality_info_container">
      {% if v_dl_info %}
      <span class="info">{{ v_dl_info }}</span>
      {% endif %}
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#id_choice_list").change(function(){
      if ($("#prepare_btn").css('display') == 'none') {
        $("#prepare_btn").toggle();
        $("#dl_btn_container").empty();
      }
    });
  });

  $(document).on('submit', '#quality_form', function(e) {
    $("#prepare_btn").toggle();
    $("#spinner").toggle();
    $("#preparing_msg").toggle();
    var form_data = $("#quality_form").serialize();
    $("#id_choice_list").prop("disabled", "disabled");
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'yougetapp:ygprepare' file_data.id %}",
      data: form_data,
      success: function(json) {
        dlUrl = "window.location.href='" + "{% url 'yougetapp:download' 0 %}';".replace('0', json);
        $("#spinner").toggle();
        $("#preparing_msg").toggle();
        $("#id_choice_list").prop("disabled", false);
        $("#dl_btn_container").append(
          '<button id="dl_btn" onclick="' + dlUrl + '" download>Download</hutton'
        );
      },
      error: function(xhr, errmsg, err) {
        console.log(xhr.status + ":" + xhr.responseText);
      }
    });
  });
</script>
{% endblock %}